{% extends "backoffice/base_admin.html.twig" %}

{% block title %}{{ parent() }} Ajout étudiant{% endblock %}

{% set menu_etudiant = true %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Ajout étudiant</h3>
                    </div>
                    {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_row(form.niveau) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.adresse) }}
                        {{ form_row(form.sexe) }}
                        <div class="form-group">
                            <label>{{ form_label(form.annee) }}</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                {{ form_widget(form.annee, {
                                    'class': 'form-control datetimepicker-input',
                                    'data-target': '#datetimepicker1'
                                }) }}
                                <div class="input-group-append" data-target="#datetimepicker1"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" value="Envoyer" name="new_etudiant"/>
                            <a href="{{ path('etudiant_index') }}" class="btn btn-default">
                                Retour à la liste
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY'
            });
        });
    </script>
{% endblock %}
