{% extends "backoffice/base_admin.html.twig" %}

{% block title %}{{ parent() }} Liste des étudiants {% endblock %}

{% set menu_etudiant = true %}

{% block body %}
    <section class="content-header">
        <h1>Liste des étudiants</h1>
        <br>
        <div class="row">
            <div class="col-xs-3">
                <select class="form-control kl-select-niveau">
                    <option value="">-- Sélectionner votre niveau --</option>
                    {% for niveau in niveaux %}
                        <option value="{{ niveau.id }}">{{ niveau.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="callout callout-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="callout callout-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('etudiant_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajout étudiant</a><br><br>
                <div class="box">
                    <div class="box-body">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="id-list-student" class="table table-bordered dataTable">
                                        <thead>
                                        <tr role="row">
                                            <th>Nom</th>
                                            <th>Adresse</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            var student_data_table = $('#id-list-student').DataTable({
                "aaSorting": [],
                "bProcessing": true,
                "bFilter": true,
                "bServerSide": true,
                "ajax": {
                    url: "{{ path('etudiant_list_ajax') }}",
                    data: function (data) {
                        data.niveau = $('.kl-select-niveau').val();
                    }
                },
                "columnDefs": [
                    {name: "nom", targets: 0},
                    {name: "adresse", targets: 1},
                    {
                        name: "id",
                        render: function (data, type, row) {
                            var href_show_default = "{{ path('etudiant_show', {'id': 0}) }}";
                            var href_show = data ? href_show_default.replace('0', data) : "javascript:void(0)";
                            var href_edit_default = "{{ path('etudiant_edit', {'id': 0}) }}";
                            var href_edit = data ? href_edit_default.replace('0', data) : "javascript:void(0)";
                            var href_delete_default = "{{ path('etudiant_delete', {'id': 0}) }}";
                            var href_delete = data ? href_delete_default.replace('0', data) : "javascript:void(0)";
                            return '<td><a href="' + href_show + '" data-toggle="tooltip" title="Voir">' +
                                '       <i class="fa fa-eye"></i>' +
                                '   </a></td>' +
                                '   <td><a href="' + href_edit + '" data-toggle="tooltip" title="Modifier">' +
                                '        <i class="fa fa-edit"></i>' +
                                '   </a></td>' +
                                '   <td><a href="' + href_delete + '" data-toggle="tooltip" title="Supprimer">' +
                                '       <i class="fa fa-trash"></i>' +
                                '   </a></td>';
                        },
                        targets: 2,
                        orderable: false
                    }
                ],
                "oLanguage": {
                    "sProcessing": "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i>",
                    "oPaginate": {
                        "sPrevious": "Precedent",
                        "sNext": "Suivant",
                    },
                    "sSearch": "",
                    "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                    "sEmptyTable": "Aucun enregistrement trouvé",
                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrée",
                },
                "drawCallback": function () {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });

            $('.kl-select-niveau').on('change', function () {
                student_data_table.draw();
            });
        });
    </script>
{% endblock %}
