{% extends "backoffice/base_admin.html.twig" %}

{% block title %}{{ parent() }} Bulletin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <h5 class="card-title">Bulletin</h5>
                    <p class="card-text"><b>Nom</b> : {{ etudiant.nom }}</p>
                    <p class="card-text"><b>Niveau</b> : {{ etudiant.niveau }}</p>
                    <p class="card-text"><b>Année</b> : {{ etudiant.annee|date('Y') }}</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Désignation</th>
                                <th>Coéfficient</th>
                                <th>Note</th>
                                <th>Note pondérée</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note.libelle }}</td>
                                    <td>{{ note.coefficient }}</td>
                                    <td>{{ note.note }}</td>
                                    <td>{{ note.ponderee }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td>Moyenne: {{ average|round(2, 'floor') }}</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>
                                    Observation:
                                    {% if average >= 10 %}
                                        <span class="badge badge-success">Admis</span>
                                    {% elseif average >= 7.5 %}
                                        <span class="badge badge-warning">Redoublant</span>
                                    {% else %}
                                        <span class="badge badge-danger">Exclus</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}