{% extends "backoffice/base_admin.html.twig" %}

{% block title %}{{ parent() }} Ajout matière{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Ajout matière</h3>
                </div>
                {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_row(form.libelle) }}
                        {{ form_row(form.coefficient) }}

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
