{% extends "backoffice/base_admin.html.twig" %}

{% block title %}{{ parent() }} Modification matière{% endblock %}

{% set menu_matiere = true %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Modification matière</h3>
                    </div>
                    {{ form_start(edit_form) }}
                    <div class="box-body">
                        {{ form_row(edit_form.libelle) }}
                        {{ form_row(edit_form.coefficient) }}

                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" name="update_matiere" value="Envoyer"/>
                            <a href="{{ path('matiere_index') }}" class="btn btn-default">
                                Retour à la liste
                            </a>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}