{% set active = 'active' %}

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="{{ path('dashboard_index') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview {% if menu_user is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-users"></i><span>Administrateur</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menu_user is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('user_index') }}"><i class="fa fa fa-user"></i> Utilisateurs</a>
                    </li>
                </ul>
            </li>
            <li class="{% if menu_etudiant is defined %}{{ active }}{% endif %}">
                <a href="{{ path('etudiant_index') }}">
                    <i class="fa fa-graduation-cap"></i> <span>Etudiant</span>
                </a>
            </li>
            <li class="{% if menu_matiere is defined %}{{ active }}{% endif %}">
                <a href="{{ path('matiere_index') }}">
                    <i class="fa fa-book"></i> <span>Matière</span>
                </a>
            </li>
            <li class="{% if menu_note is defined %}{{ active }}{% endif %}">
                <a href="{{ path('note_index') }}">
                    <i class="fa fa-file-text-o"></i> <span>Note</span>
                </a>
            </li>
            <li class="{% if menu_niveau is defined %}{{ active }}{% endif %}">
                <a href="{{ path('niveau_index') }}">
                    <i class="fa fa-line-chart"></i> <span>Niveau</span>
                </a>
            </li>
        </ul>
    </section>
</aside>