{% extends "backoffice/base_admin.html.twig" %}

{% block title %}{{ parent() }} Ajout niveau{% endblock %}

{% set menu_niveau = true %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-8">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Ajout niveau</h3>
                    </div>
                    {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_row(form.libelle) }}

                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" name="new_note" value="Envoyer"/>
                            <a href="{{ path('niveau_index') }}" class="btn btn-default">
                                Retour à la liste
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
